<%= form_for :interventions, url: {}, html: {method: "post"} do |f| %>

<br>    <strong>Clients<strong>
<div class="control-group">

       <%= collection_select(:interventions, :customer_id, Customer.all, :id, :name, { :prompt => 'SELECT'}, { id: 'customer_select' } ) %>

</div>

<br>
<br>
    <strong>Buildings<strong>

<div class="control-group">
     
        <%= collection_select(:interventions, :building_id, Building.all, :id, :name, {:prompt => 'SELECT'}, { id: 'building_select' } ) %>
        
</div>

<br>
    <strong>Batteries<strong>

<div class="control-group">

       <%= collection_select(:interventions, :battery_id, Battery.all, :id, :building_id, {:prompt => 'SELECT'}, { id: 'battery_select' } ) %>
</div>

<br>
<br>
    <strong>Columns<strong>

<div class="control-group">

       <%= collection_select(:interventions, :column_id, Column.all, :id, :battery_id, {:prompt => 'NONE'}, { id: 'column_select' } ) %>
</div>

<br>
<br>
    <strong>Elevators<strong>

<div class="control-group">   

<%= collection_select(:interventions, :elevator_id, Elevator.all, :id, :column_id, {:prompt => 'NONE'}, { id:'elevator_select' } ) %>

</div>
<br>
<br>
<br>
<br>
 <div class="control-group"> 

<%= collection_select(:interventions, :employee_id, Employee.all, :id, :name, {:prompt => 'NONE'}, { id:'employee_id' } ) %>

</div>
<br>
<br>
<br>


<div class="col-md-8">
    <label for="interventions:report">Project Description *</label>
    <textarea required maxlength="5000" rows="4" class="form-control" name="interventions[report]" id="report"></textarea>
</div>
<br>
<br>

  <%= f.submit "SUBMIT" %>
<% end %>  



<%= render 'form', interventions: @interventions %>           

<%= link_to 'Back', interventions_path %>
